.env.production
apps/api/.env.production
apps/portal/.env.production

# deps / build
node_modules/
dist/
build/
*.tsbuildinfo

# env
.env
.env.*
!.env.example

# bot
apps/bot/venv/
apps/bot/__pycache__/
**/__pycache__/
apps/bot/google_cookies.json
*.pyc
apps/bot/.env

# artifacts / local
PinnTag-DOP-Bot.zip
node_modules
.DS_Store
*.log
prod-env


#API 
apps/api/.env
apps/api/dist
apps/api/node_modules
apps/api/.env.production
apps/api/package-lock.json


#PORTAL
# Logs
apps/portal/logs
apps/portal/*.log
apps/portal/npm-debug.log*
apps/portal/yarn-debug.log*
apps/portal/yarn-error.log*
apps/portal/pnpm-debug.log*
apps/portal/lerna-debug.log*

apps/portal/node_modules
apps/portal/dist
apps/portal/dist-ssr
apps/portal/*.local

.claude
apps/.claude
api/.claude





# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?